---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/header.jsx';
import Hero from "../components/Hero.astro"
---

<Layout title="Welcome to Astro.">
	<main>
		<Header client:load/>
		<Hero/>
	</main>
</Layout>

