---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/header.jsx';
import Hero from "../components/Hero.astro"
import Accordion from '../components/Faq';
import Announcement from "../components/Announcement.astro"
---

<Layout title="LifeInsureEase">
	<main>
		<Announcement/>
		<Header client:load/>
		<Hero/>
		<Accordion client:load/>
	</main>
</Layout>

