---
import Family from "../assets/images/family.svg"
---


<section id="about-us" class="w-5/6 mx-auto mt-32">
  <div class="flex flex-col lg:flex-row gap-16">
    <div class="mx-auto min-w-[200px] max-w-[750px]">
        <h2
          class=" text-3xl font-bold text-dark sm:text-4xl md:text-[40px]"
        >
          About Us
        </h2>
        <p class="text-base text-body-color pt-4 pb-8">
            Life insure ease is a Professional Insurance sell Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of Insurance sell, with a focus on dependability and Insurance selling business . We're working to turn our passion for Insurance sell into a booming online website. We hope you enjoy our Insurance sell as much as we enjoy offering them to you.

        </p>
        <p class="pt-2">
            We will keep posting more important posts on my Website for all of you. Please give your support and love.

        </p>
        <p>
            Thanks For Visiting Our Site

        </p>
        <p>
            Have a nice day!
        </p>
      </div>
    <div class="flex justify-center">
        <img class="w-96" src={Family.src} alt="">
    </div>
  </div>
</section>