---

---

<section class="w-5/6 mx-auto mt-32">
  <div class="mx-auto mb-[60px] max-w-[900px] text-center lg:mb-20">
    <h2
      class="mb-4 text-center text-3xl font-bold text-dark sm:text-4xl md:text-[40px]"
    >
      Types of Insurance
    </h2>
    <p class="text-base text-body-color py-4">
      At <b>LifeInsureEase</b>, we recognize that choosing the right insurance
      type is a crucial decision that involves various considerations. With a
      multitude of insurance options available, the process can often be
      overwhelming. To simplify this journey, we have meticulously curated the
      'Types of Insurance' section to provide a comprehensive overview of
      various insurance categories
    </p>
  </div>

  <div class="flex gap-8 lg:flex-row flex-col">
    <div
      class="flex flex-col items-center gap-2 bg-white p-4 rounded-xl border-2 border-primary"
    >
      <div class="">
        <svg
          viewBox="0 0 24 24"
          class="h-16 p-4 bg-primary bg-opacity-5 rounded-md stroke-primary"
          height="1em"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
              d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z"
              stroke-width="2"
              stroke-linecap="round"></path>
          </g></svg
        >
      </div>
      <h1 class="font-semibold">Term-Life Insurance</h1>
      <p class="text-center opacity-80">
        Our Term Life Insurance is designed to provide coverage for a specific
        period. It offers financial protection to your loved ones in the event
        of your untimely demise during the policy term.
      </p>
    </div>
    <div
      class="flex flex-col items-center gap-2 bg-white p-4 rounded-xl border-2 border-primary"
    >
      <div class="">
        <svg
          viewBox="0 0 24 24"
          class="h-16 p-4 bg-primary bg-opacity-5 rounded-md stroke-primary"
          height="1em"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
              d="M18.3795 5.65166L14.1055 9.86303M9.89445 14.137L5.63994 18.3679M5.63408 5.63799L9.89445 9.86303M14.1056 14.137L18.364 18.364M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g></svg
        >
      </div>
      <h1 class="font-semibold">Whole Life Insurance</h1>
      <p class="text-center opacity-80">
        Whole Life Insurance is a permanent policy that provides lifelong
        coverage. It comes with a savings component and offers various benefits
      </p>
    </div>
    <div
      class="flex flex-col items-center gap-2 bg-white p-4 rounded-xl border-2 border-primary"
    >
      <div class="">
        <svg
          class="h-16 p-4 bg-primary bg-opacity-5 rounded-md fill-primary"
          height="1em"
          version="1.1"
          id="_x32_"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 512 512"
          xml:space="preserve"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
            ><g>
              <path
                class="st0"
                d="M259.327,85.452c17.858-23.287,13.449-56.63-9.838-74.471c-23.271-17.866-56.63-13.466-74.479,9.814 c-17.866,23.295-13.458,56.613,9.829,74.471C208.119,113.132,241.461,108.732,259.327,85.452z"
              ></path>
              <path
                class="st0"
                d="M394.401,226.052L325.159,118.28c-11.744-18.116-35.932-23.296-54.064-11.544 c-18.115,11.728-23.295,35.924-11.543,54.056l-0.016-0.016l61.6,96.078l-62.662,65.091c-25.484,21.551-15.171,49.552-11.462,66.476 l33.326,88.033c3.049,13.94,16.836,22.756,30.793,19.707c13.932-3.064,22.756-16.852,19.7-30.784l-17.713-101.201l65.574-51.112 C413.28,291.378,416.112,260.65,394.401,226.052z"
              ></path>
              <path
                class="st0"
                d="M161.207,172.906c-31.734,0.016-57.426,25.732-57.442,57.45v266.408c0,8.414,6.822,15.235,15.236,15.235 c8.413,0,15.242-6.821,15.242-15.235V230.356c0.008-7.489,2.984-14.142,7.899-19.072c4.932-4.899,11.576-7.891,19.065-7.9 c7.481,0.008,14.133,3.001,19.064,7.9c4.906,4.93,7.899,11.583,7.908,19.072c-0.008,8.012-3.443,15.083-8.953,20.062 c-6.267,5.622-6.789,15.251-1.158,21.509c5.622,6.266,15.259,6.789,21.518,1.166c11.672-10.457,19.072-25.798,19.064-42.738 C218.633,198.63,192.94,172.923,161.207,172.906z"
              ></path>
            </g>
          </g></svg
        >
      </div>
      <h1 class="font-semibold">Pension Plan</h1>
      <p class="text-center opacity-80">
        Our Pension Plan is tailored to help you plan for a secure retirement.
        It offers a structured savings platform with tax benefits and a reliable
        income post-retirement.
      </p>
    </div>
  </div>
</section>
