---
import "@fontsource-variable/caveat";
import "@fontsource-variable/inter";
---

<section class="w-5/6 mx-auto inter font-semibold">
  <div class="">
    <h1 class="text-center sm:text-5xl text-3xl mt-20">
      Protecting Your Loved Ones,
    </h1>
    <h1 class="text-center sm:text-5xl text-3xl mt-2">
      Life Insurance Made <b class="cursive sm:text-6xl text-5xl font-bold">Simple</b>
    </h1>
  </div>
  <div class="flex sm:flex-row flex-col justify-center gap-4 mt-4">
    <a class="px-20 py-2 text-white rounded-md text-center bg-primary" href="">Get quote</a>
    <a
      class="px-10 py-2 rounded-md bg-transparent text-center border-primary border-2"
      href="">Learn More</a
    >
  </div>
  <div class="relative mx-auto w-full mt-8">
    <img
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 rounded-xl sm:w-5/6 w-full mx-auto sm:h-96 h-52 object-cover"
      src="https://images.pexels.com/photos/4452209/pexels-photo-4452209.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="happy family"
    />
  </div>
</section>

<style>
  .cursive {
    font-family: "Caveat Variable", sans-serif;
    color: rgb(14, 14, 14);
  }
  .inter {
    font-family: "Inter Variable", sans-serif;
    color: rgb(40, 40, 40);
  }
</style>
